body{
	margin: 0;
	font-size: 100%;
	font: 1.15em/1.3 'Oxygen', 'Helvetica',arial, sans-serif;
	font-weight: 300;
}
/*-----TEXT----*/
h1 {
	font:2.5em/1 'Oxygen','Helvetica',arial,sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font: 1.35em/1 'Oxygen', 'Helvetica', arial, sans-serif;
	font-weight: 400;
	text-align: center;
}
/*-------NAV-----*/
nav{
	height: 3em;
	line-height: 2.3em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 600;
	display: inline-block;
	width: 100%;
	background: rgba(0,0,0,0.55);
	border: 0;
	font-family: 'Oxygen','Helvetica',arial,sans-serif;
	text-transform: uppercase;
	text-align: center;
	/*Bret, do I need this webkit part?*/
	-webkit-transform: translateZ(0);
}
nav.nav_closed{
	overflow: hidden;
}
/*------Nav_menu------*/
a#menu {
	float: right;
	border: 1px solid #ccc;
	color: grey;
	width:5em;
	margin-top: 5px;
	margin-right: 15px;
	font-weight: 300;
	margin-bottom: 6px;

}
a#menu:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
	font-weight: 600;
}
/*---navlist---*/
ul#navlist{
	clear: right;
	font-weight: 300;
}
nav.nav_closed ul#navlist{
	display: none;
}
nav.nav_open {
	overflow: visible;
	background: rgba(0,0,0,0.85);
}
nav.nav_open a#menu {
	color: #333;
	background: #999;
}
nav.nav_open ul#navlist{
	display: block;
}
nav ul#navlist li a {
	display: block;
	width: 100%;
	height: 100%;
	border-top: 1px #ccc solid;
	color: #FFE3CD;
	text-decoration: none;
}
nav ul#navlist li a:hover {
	background: #009ee6;
	color: #fff;
	text-decoration: none;

}
/*-----SECTION------*/
section {
	background: #DEB887; 
}
section#page-header {
	height: 100vh;
	width: 100%;
	background: #ccc (<img src="http://i280.photobucket.com/albums/kk187/Cory_Ricci/pagebackround1_zps3cpoetof.jpeg" />) no-repeat center center;
	background-size: cover;
	color: #000;
	display: table;
}

section#page-header header {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
section#page-header header h1 {
	font-size: 4em;
	font-weight: 400;
	line-height: 1em;
}
section#page-header header h2 {
	font-size: 1.45em;
	text-transform: uppercase;
	font-weight: 300;
}
/* section.page-content */
section.page-content div{
	width: 85%;
	max-width: 1024px;
	margin: 3em auto;
	padding-top: 4em; /* Keeps h1 away from navbar at top*/
}
section.page-content article {
	margin-top: 1em;
	background: url(break.pdf)no-repeat top center;
	padding-top: 30px;
	background-size: 60%;
}
/*Profile*/
section#profile div{
	margin-top: 0;
}
/*skills*/
section#skills ul{
	width: 60%;
	margin: 4em auto;
	padding: 1em auto;
	overflow: hidden;
}
section#skills ul li {
	float: left;
	width: 40%;
	padding: 5%;
}
section#skills ul li img {
	display: block;
	width: 80px;
	margin: auto;
}
/* Contact Section */
section#contact {
    text-align: center;
    background-color: black;
    border-bottom: 4em #232323 solid;
}
section#contact ul {
	width: 75%;
	margin: 1em auto;
	padding: 1em auto;
	overflow: hidden;
}
section#contact ul li {
	float: left;
	max-width: 60px;
	margin: auto;
	height: 120px;
    width: auto;
}
section#contact ul li a img{
	display: block;
	width: 80px;
	margin: auto;
}